body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  font-family: 'Libre Franklin', sans-serif;
  transition: background-color 0.3s, color 0.3s;
  font-size: 1rem;
  line-height: 1.6;
  min-height: 100vh;
  flex-direction: column;
}

:root {
  --bg-color: #F0F7EE;
  --text-color: #001021; 
  --item-bg-color: #f8f9fa; 
  --item-text-color: #001021; 
}

.spacer {
  height: 100px;
  width: 100%; 
}

.main-content {
  flex-grow: 1; 
}

blockquote {
  font-style: italic;
  border-left: 5px solid #4B0082;
  padding: 5px 15px;
  margin: 10px 0;
  background-color: #f9f9f9;
  color: #333;
  font-size: 1.0em;
  line-height: 1.8;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

blockquote p {
  margin: 0 0 2px;
}

blockquote footer {
  background: inherit;
  font-size: 0.9em;
  text-align: right;
  color: #F0F7EE;
  margin: 0;
  padding-top: 2px; 
}

body.dark-mode blockquote {
  background-color: #3b4252;
  color: #ddd;
  border-left: 5px solid skylightblue;
}

body.dark-mode blockquote footer {
  color: #aaa;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 60px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 8px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 0.5px solid #024f68; 
  background-color: #011a24;
  
}


.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: center;
  width: 100%;
}

.navbar li {
  margin: 0 15px;
  position: center;
}

.navbar a {
  display: block;
  color: #F0F7EE;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  text-align: center; 
  transition: background-color 0.3s ease; 
}


.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu.active {
  display: flex; 
  background-color: #011a24;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-toggle {
  display: none; 
  font-size: 24px;
  cursor: pointer;
  color: #F0F7EE;
  padding: 10px 15px;
  border: none;
  background: none;
  z-index: 1001;
}

.menu a {
  text-decoration: none;
  color: #F0F7EE;
  font-size: 18px;
  transition: color 0.3s;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
}

.image-style {
  max-width: 100%; 
  height: auto; 
  display: block; 
  margin: 0 auto; 
}
.centered-container {
  text-align: center;
  margin: 20px auto;
  width: 100%; 
}
	
.centered-container .dates {
  font-size: 0.9em; 
  color: #555; 
  margin-top: 5px;
  text-align: center; 
}

.centered-container .date-posted,
.centered-container .date-updated {
  margin: 2px 0; 
}

.centered-container .dates time {
  font-weight: bold; 
}

.image-container {
  text-align: center; 
}
.centered-text {
  text-align: center; 
  margin-bottom: 1em; 
}


.small-image {
  display: block; 
  margin: 0 auto; 
  width: 400px;
  height: auto;
}

.container {
  display: block; 
}

section img {
  width: 100%; 
  max-width: 1000px;
  height: 50vh;
  object-fit: cover;
}

@media (min-width: 1600px) {
  section img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  section img {
  width: 100%; 
  max-width: 1000px; 
  margin: 0 auto; 
  }
}


.boxed-section {
  background-color: #fff; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  padding: 20px; 
  max-width: 650px; 
  margin: 20px auto; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left; 
}


.boxed-section {
  line-height: 1.8; 
}

body.dark-mode .boxed-section {
  background-color: #23252F; 
  border-color: lightblue; 
  color: #F0F7EE; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
}


.section {
  display: flex; 
  justify-content: center; 
  align-items: center;
  height: 100vh; 
  max-width: 1200px; 
  width: 100%; 
  margin: 0 auto; 
  padding: 20px; 
  text-align: center;
}
.section .content {
  width: 100%; 
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px; 
}


body.dark-mode {
  --bg-color: #00070c; 
  --text-color: #F0F7EE;
  --item-bg-color: #1e1e1e; 
  --item-text-color: #F0F7EE;
}

body.dark-mode .boxed-section {
  background-color: #011a24;
  border: 0.5px solid #024f68;
  color: #F0F7EE;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

body.dark-mode a {
  color: #F0F7EE;
}


#toggle-dark-mode {
  position: fixed;
  top: 20px;
  right: 20px;
  bottom: 20px; 
  z-index: 1000;
  width: 50px; 
  height: 50px; 
  border: none;
  border-radius: 50%;
  background-color: inherit;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


@media (min-width: 1024px) {
#toggle-dark-mode {
  top: 15px; 
  right: 25px; 
  transform: translateY(-5px); 
  }
}

@media (max-width: 600px) {
  #toggle-dark-mode {
  bottom: 10px; 
  right: 10px; 
  font-size: 14px; 
  padding: 10px; 
  }
}

#toggle-dark-mode:hover {
  transform: translateY(-2px); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}



body.dark-mode .sharethis-inline-follow-buttons {
  background-color: inherit;
  border-color: #444;
  position: relative;
  z-index: 1; 
  margin: 0; 
}


body.dark-mode .sharethis-inline-follow-buttons .st-button {
  color: #F0F7EE; 
  background-color: inherit; 
  border-color: #444; 
}

body.dark-mode .sharethis-inline-follow-buttons .st-button:hover {
  background-color: #444; 
  border-color: #555;
}

body {
  overflow-x: hidden;
}


@media (max-width: 768px) {
  #toggle-dark-mode {
  width: 45px; 
  height: 45px;
  right: 15px; 
  top: 15px;
}


#toggle-dark-mode:active {
  transform: translateY(0); 
  background-color: #1f2023; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
}


#icon {
  font-size: 20px;
  color: #F0F7EE; 
}


body.dark-mode #toggle-dark-mode {
  background-color: inherit; 
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); 
}


body.light-mode #toggle-dark-mode {
  background-color: inherit; 
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); 
}


@media (max-width: 768px) {
.menu-toggle {
  display: block; 
}

.menu-toggle span {
  background-color: #F0F7EE;
  height: 3px;
  width: 100%;
  border-radius: 2px;
}

.menu {
  display: none; 
  text-align: center; /
}
  
.menu.open {
  display: block; 
}

.navbar ul {
  flex-direction: column; 
  align-items: center;    
  justify-content: center;
  width: 100%;            
  display: none;          
  margin: 0;              
  padding: 0;             
}

.menu li {
  margin: 10px 0; 
}
  

.menu li:hover {
  transform: translateY(-3px);
  }
}

.menu a, .navbar a {
  padding: 10px 20px;   
  text-align: center;   
  text-decoration: none; 
  color: #fff;           
  display: block;        
  font-size: 14px;      
  margin: 0 auto;
  }

.sharethis-inline-follow-buttons {
  background-color: inherit;
  position: relative;
  z-index: 1; 
  margin: 0; 
}

.sharethis-sticky-share-buttons {
  position: fixed;
  bottom: 60px; 
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: hidden;
  z-index: 1000;
}

.sharethis-sticky-share-buttons {
  display: block;
  visibility: visible;
  position: fixed; 
  bottom: 60px; 
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 1000; 
  margin: 0; 
  width: auto;
  text-align: center; 
}


@media (max-width: 600px) {
.sharethis-sticky-share-buttons {
  bottom: 70px; 
  }
}


.news-page {
  text-align: center; 
}


.content {
  min-height: calc(100vh - 100px);
  padding-bottom: 100px;
}


footer {
  background-color: #333; 
  color: white; 
  padding: 20px 0; 
  text-align: center; 
  position: relative;
  width: 100%;
}


footer .sharethis-inline-follow-buttons {
  margin: 0 auto;
  width: auto; 
  display: block;
  padding: 0;
}

.footer {
  background-color: #f8f9fa;
  color: #000;
}


.dark-mode .footer {
  background-color: black;
  color: #F0F7EE;
}

@media screen and (max-width: 768px) {
  footer {
  position: relative; 
  bottom: auto; 
  transform: none; 
  
.sharethis-widget {
  width: 100%; 
  }
}
}

header {
  text-align: center; 
}

.top-image {
  display: block; 
  margin: 0 auto; 
  width: 30%; 
  max-width: 1200px;
  height: auto; 
}

@media (max-width: 375px) {
  .top-image {
    width: 100%; 
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .top-image {
    width: 100%; 
    max-width: 600px; 
  }
}

@media (min-width: 769px) and (max-width: 960px) {
  .top-image {
    width: 80%; 
    max-width: 1200px;
  }
}

@media (min-width: 961px) and (max-width: 1023px) {
  .top-image {
    width: 70%;
  }
}

@media (min-width: 1024px) and (max-width: 1352px) {
  .top-image {
    width: 50%;
  }
}

@media (min-width: 1353px) and (max-width: 1919px) {
  .top-image {
    width: 30%;
  }
}

@media (min-width: 1920px) {
  .top-image {
    width: 30%;
  }
}



/* MAGAZINE STUFF */
.magazine-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 1rem;
  padding: 1rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  max-width: 1200px; 
  margin: 0 auto; 
}
.magazine-container {
  padding-left: 2rem;
  padding-right: 2rem;
}


.magazine-container .magazine-item {
  display: block;
  background-color: var(--item-bg-color); 
  color: var(--item-text-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 1rem;
  height: auto; 
  min-height: 350px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.magazine-container .magazine-item a {
  color: inherit; 
  text-decoration: none;
}


.magazine-item:nth-child(1) {
  grid-column: span 2;
}

.magazine-item {
  background-color: var(--item-bg-color);
  color: var(--item-text-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 1rem;
  height: 300px; 
  overflow: hidden; 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

.magazine-item .date {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.1rem;
  margin-top: 1rem;
  display: block;
}

.magazine-item h2,
.magazine-item p {
  margin-bottom: 0.5rem; 
}

.magazine-item h2 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.5rem 0;
}

.magazine-item p {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 0.9rem;
  line-height: 2.3;
  margin: 0 0 1rem 0;
}

.magazine-item a {
  display: inline-block; 
  margin-top: 0.5rem; 
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #F0F7EE;
}

.magazine-item .thumbnail {
  width: 100%;
  height: auto; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  aspect-ratio: 16/9; 
}


.magazine-item:nth-child(1) .thumbnail {
  height: 400px; 
}

.magazine-item .read-more {
  display: block;
  text-align: right; 
  margin-top: 10px; 
  font-weight: bold; 
  color: #007BFF; 
  text-decoration: none; 
}

.magazine-item .read-more:hover {
  text-decoration: underline; 
  color: #0056b3;
}


.magazine-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  position: relative; 
  padding-bottom: 100px; 
}

.magazine-item img {
  width: 100%;
  height: 100%; 
  object-fit: cover;  
  display: block; 
}

@media (max-width: 1024px) {
  .magazine-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
.magazine-container {
  grid-template-columns: 1fr; 
  }
}

@media (max-width: 768px) {

  .magazine-item:first-of-type img {
    object-fit: contain;  
    width: 100%;
    height: auto;
  }
}

body.dark-mode .magazine-container {
  background-color: transparent; 
  color: #F0F7EE; 
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


body.dark-mode .magazine-container .magazine-item {
  background-color: #011A24; 
  color: #FFFFF3; 
  box-shadow: none; 
  border: 0.5px solid #024f68; 
}

@media (max-width: 768px) {
.magazine-container {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  }

.magazine-container .magazine-item:nth-child(1) {
  grid-column: span 1; 
  grid-row: span 1; 
}

.magazine-item .thumbnail {
  height: auto; 
  aspect-ratio: 4/3; 
  }
}

/* CONTACT ME PAGE STUFF */
.contact-container {
  max-width: 200px;
  margin: 50px auto;
  text-align: center;
  padding: 20px
}

.contact-content {
  margin-top: 20px;
}

.profile-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.email-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #007BFF;
  color: #F0F7EE;
  text-decoration: none;
  border-radius: 5px;
}

.email-button:hover {
  background-color: #0056b3;
}

.excerpt {
  text-align: left;
}

a {
  display: inline; 

}

.subtitle {
  font-size: 1rem;
  text-align: center;
  color: #666; 
  margin: 0;
}

h2 {
  text-align: left;
}

.line-break {
  height: 20px;
}

h3 {
  text-align: center;
  font-size: 2.0vw;
  font-weight: bold;
  margin-bottom: 20px;
}


h1 {
  color: #000000; 
  text-align: center;
  font-size: 2vw; 
  font-weight: bold;
  position: relative;
}

body.dark-mode h1 {
  color: #FFFFFF; 
}

@media (max-width: 1352px) {
  h1 {
    font-size: 1vw;
  }
}

@media (max-width: 960px) {
  h1 {
    font-size: 1.5em; 
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 5vw; 
    padding: 0 20px; 
    margin: 0;   
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 5vw; 
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 1.0vw; 
    text-align: center;
  }
}
/* iPhone SE?? */
  



.line-break {
  height: 15px; 
}


.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
  margin: 0 auto; 
  max-width: 800px; 
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 450px; 
}

@media (min-width: 768px) {
  .video-wrapper {
    margin-bottom: 20px; 
  }
}
